.doubleCube{


    width: var(--cube-container-width);
    height: var(--cube-container-width);
    position: relative;
    display:block;
    transform-style:preserve-3d;
    transform: rotateX(-33.5deg) rotateY(45deg);
    margin-top: calc(var(--cube-container-width) / 8);
    margin-bottom: calc(-1 *(var(--cube-container-width) /4));

    .cube{
        display:inline-block;
        transition: transform 1s;
        transform-style:preserve-3d;
        .cube__face{
            position: absolute;
            width:100%;
            height:100%;
            width:calc(var(--cube-container-width)/2);
            height:calc(var(--cube-container-width)/2);
        }

        &.outer{
            position: relative;

            .cube__face{
                background: rgba(141,214,249,.5);
                border:1px solid white;
                transition: border-width .2s;
                transition-delay: 0.2s;
            
            }
        }
        
        &.inner{
            position: absolute;
            top:-2px;
            left:0;
            .cube__face{
                background:#175d96;
                border:2px solid white;
            }
        }
      }


  }