// Media Queries
$mq-sm:    '(max-width: 500px)';
$mq-md:    '(min-width: 501px) and (max-width: 1000px)';
$mq-lg:    '(min-width: 1001px)';


//font-sizes
$mq-sm-font-size: 13px;
$mq-md-font-size: 15px;
$mq-lg-font-size: 17px;
